.about{
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  justify-items: center;
  
  &__container{
    margin: 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    overflow: hidden;

    &--1{
      display: none;
    }

    &--2{
      width: 100%;
      margin: 5px;
      overflow: hidden;

      &--container--container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, auto));
        &--1{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(150px, auto));
          justify-content: center;
          align-items: center;
          column-gap: 5px;

          &--btn{
            padding: 10px 30px;
            border: 3px solid rgba(0, 0, 0, 0.522);
            font-family: $aka;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 1rem;

            &.active{
              color: $sColor;
            }
          }
        }

        &--2{
          display: flex;
          width: 100%;
          justify-content: center;
          margin: auto;
        }
      }
    }
  }
}

@media (min-width: 900px){
  .about__container--1{
    display: flex;
    justify-content: right;
  }

  .about__container--2--container--container--1{
    display: flex;
    flex-direction: column;
  }
  .about__container--2--container--container--2{
    width: 60%;
    display: flex;
    align-items: right;
  }
}