.AboutUs__card--container{
  display: grid;
  background-image: radial-gradient(#ababab59, #00000033), url(../img/pared.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  clip-path: polygon(30% 4%, 100% 0, 100% 100%, 0 100%, 0 0);
  height: auto;
  margin: 0;
}

.AboutUs__card--title2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-self: center;
  color: rgba(255, 255, 255, 0.289);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.359);
  margin-top: 150px;
  text-shadow: 1px 1px 2px $fColor;
  font-size: 2rem;
  font-weight: 600;
}

.AboutUs__card{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.AboutUs__card--2{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.AboutUs__container--2{
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px 5px;
  row-gap:2rem;

  .card_{
    width: 240px;
    min-height: 240px;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding: 5px 10px;
    border-radius: 15px;

    &__title{
      font-size: 1.5rem;
      color: $fColor;
      font-weight: 500;
      padding: 10px 0 5px 0;
      margin-bottom: 10px;
      text-transform: uppercase;
      border-bottom: 3px solid $fColor;
    }

    &__text{
      line-height: 1.1rem;
      font-size: 1.1rem;
      font-weight: 300;
      text-transform: capitalize;
      padding: 1px 0;
    }

    &__text--2{
      line-height: 1.1rem;
      font-size: 3rem;
      font-weight: 300;
      text-transform: capitalize;
      color: rgba(0, 0, 0, 0.7);

      & span{
        color: $sColor;
      }
    }

    &__size{
      width: 50px;
      height: 50px;
    }
  }

  .card__2{
    width: 360px;
    min-height: 360px;
    display: grid;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 15px;
  }

  .card___text--2{
    line-height: 1.3rem;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    padding: 5px 0;
  }
  .card___text--3{
    padding: 7px 0;
    font-size: 1rem;
    font-weight: 300;
    text-transform: lowercase;
    text-align: center;
    color: $fColor;
  }
}

@media (min-width: 1050px){
  .AboutUs__card--container{
    clip-path: polygon(30% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
  }

  .AboutUs__card--title2{
    font-size: 4rem;
  }
}