.about{
  width: 100%;
  height: auto;
  // justify-content: center;
  // align-items: center;
  // overflow: hidden;
  // justify-items: center;
  
  &__container{
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    overflow: hidden;

    &--1{
      display: none;
    }

    &--2{
      width: 100%;
      margin: 5px;
      overflow: hidden;

      &--container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        &--1{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          &--btn{
            padding: 10px 30px;
            margin: 5px;
            border: 3px solid rgba(0, 0, 0, 0.522);
            font-family: $aka;
            font-weight: 500;
            text-transform: uppercase;

            &.active{
              color: $sColor;
            }
          }
        }

        &--2{
          display: flex;
          width: 100%;
          height: auto;
          background-color: rgba(0, 0, 0, 0.522);
        }
      }
    }

  }
}