.about{
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  justify-items: center;
  
  &__container{
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    overflow: hidden;

    &--1{
      display: none;
    }

    &--2{
      width: 100%;
      overflow: hidden;

      &--container--container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
        &--1{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(130px, auto));
          justify-content: center;
          align-items: center;
          gap: 5px;
          margin: 0;

          &--btn{
            padding: 20px 20px;
            border: 3px solid rgba(0, 0, 0, 0.522);
            font-family: $aka;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 1rem;
            margin: 0;

            &.active{
              color: $sColor;
            }
          }
        }

        &--2{
          display: flex;
          width: 90%;
          justify-content: center;
          margin: 30px auto;
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 900px){
  .about__container--1{
    display: flex;
    justify-content: right;
  }

  .about__container--2--container--container--1{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about__container--2--container--container--2{
    width: 1000px;
    display: flex;
    align-items: right;
  }
}