.about{
  width: 100%;
  height: auto;
  // justify-content: center;
  // align-items: center;
  // overflow: hidden;
  // justify-items: center;
  
  &__container{
    width: 100%;
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(1fr, auto));
    overflow: hidden;

    &--1{
      display: none;
    }

    &--2{
      width: 100%;
      overflow: hidden;

      &--container--container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, auto));
        &--1{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(230px, auto));
          justify-content: center;
          align-items: center;
          gap: 5px;
          margin: 0;

          &--btn{
            width: 100%;
            padding: 10px 10px;
            border: 3px solid rgba(0, 0, 0, 0.522);
            font-family: $aka;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 1rem;
            margin: 0;
            transition: 500ms ease-in-out;

            &:hover{
              color: $gray;
              border: 3px solid $sColor;
              transition: 200ms ease-in-out;
              box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.513);
            }

            &.active{
              color: $sColor;
            }
          }
        }

        &--2{
          display: flex;
          width: 70%;
          justify-content: center;
          margin: 30px auto;
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 1100px){
  .about__container{
    display: grid;
    grid-template-columns: 500px 1fr;
    margin: 50px 10px;
  }

  .about__container--1{
    display: flex;
    justify-content: center;
  }

  .about__container--2--container--container--1{
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
    padding: 0 20px;
    gap: 32px;

    &--btn{
      padding: 20px 40px;
      font-size: 2rem;
      text-align: center;
    }
  }
  .about__container--2--container--container--2{
    width: 200px;
    display: flex;
    align-items: right;
    justify-content: center;
  }
}

@media (min-width: 1600px){
  .about__container--2--container--container--2{
    width: 500px;
    display: flex;
    align-items: right;
  }
}