*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

html{
  scroll-behavior: smooth;
}

li{list-style: none;}

a,
img,
data,
input,
button,
select,
ion-icon,
textarea{ 
  display: block;
}

a{
  color: inherit;
  text-decoration: none;
}

button{
  border: none;
  background-color: transparent;
}

img{
  height: auto;
}

input,
button,
select,
textarea{ 
  background: none;
  border: none;
  font: inherit;
}

input,
select,
textarea{
  width: 100%;
  outline: none;
}

button{
  cursor: pointer;
}

// main {
//   margin-left: 340px;
//   transition: .3s;
//   overflow-x: hidden;
// }

// @media (max-width: 1050px) {
//   main {
//     margin-left: 0;
//   }
// }