*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Akatab', sans-seri6;}

html{
  scroll-behavior: smooth;
}

li{list-style: none;}

a,
img,
data,
span,
input,
button,
select,
ion-icon,
textarea{ 
  display: block;
}

a{
  color: inherit;
  text-decoration: none;
}

ul, ol{
  padding: 0;
}

button{
  border: none;
  background-color: transparent;
}

img{
  height: auto;
}

input,
button,
select,
textarea{ 
  background: none;
  border: none;
  font: inherit;
  padding: 0;
}

input,
select,
textarea{
  width: 100%;
  outline: none;
}

button{
  cursor: pointer;
}