.header {
  width: 350px;
  height: 100vh;
  padding: 15px 30px;
  background: radial-gradient(ellipse at bottom, #6e79851a 0%, #64677540 100%);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: 1;
  border-right: 1px solid $fColor;
  backdrop-filter: blur(4px);

  &__profile {
    text-align: center;
    margin: 10px 0;

    &--img {
      margin-top: 100px;
      margin-bottom: 50px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 6px solid $fColor;
      object-fit: cover;
    }

    &--title {
      color: $white;
      font-weight: 700;
      letter-spacing: .4px;
      margin: 10px 0;
    }

    &--container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px 0;

      &--list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        text-align: center;
      }

      &--items {
        font-size: 24px;
        margin: 5px;
      }

      &--link {
        color: $white;
        background-color: $fColor;
        padding: 8px 10px;
        border-radius: 50%;
        transition: .5s;

        &:hover {
          background-color: $sColor;
        }
      }
    }
  }

  &__footer {
    text-align: center;
    width: 300px;
    color: $white;
    font-size: 13px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;

  }
}

.nav {
  margin-top: 50px;

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;

    &--items {
      display: inline-block;
      padding: 14px;
      margin: 20px 0 5px;
      transition: .3s;
      border-bottom: 1px solid $tColor;
      text-transform: uppercase;

    }

    & .active {
      color: $sColor;
    }

    &--link {
      text-decoration: none;
      color: $gray;
      font-weight: 400;
      font-size: 15px;
      letter-spacing: .6px;
      transition: .3s;

      &:hover {
        color: $sColor;
        letter-spacing: 1.4px;

      }
    }

    &:hover>.nav__list--items:not(:hover) {
      opacity: 0.4;
    }
  }
}

// Mobile menu
#menuBtn {
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  color: $white;
  background-color: $sColor;
  text-align: center;
  line-height: 42px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  z-index: 2;
  display: none;
}

.MobileNavOpen .header {
  left: 0;
}

.MobileNavOpen .header__footer {
  left: 0;
  transition-delay: 0.2s;
}

@media (max-width: 1050px) {
  .header {
    left: -350px;

    &__footer {
      left: -300px;
    }
  }

  #menuBtn {
    display: block;
    cursor: pointer;
  }
}