.home {
  &__container {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(#545454b5, #000000c1), url(../img/header.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: 300px 1fr;
    overflow: hidden;

    &--title {
      display: flex;
      padding: 80px 0 0 10px;
      justify-content: left;
      align-items: center;
      text-align: center;
      justify-items: center;
      font-size: 7rem;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.05);
      text-shadow: 1px 2px 4px $fColor;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
      overflow: hidden;
      cursor: pointer;
      font-family: 'Akatab', sans-serif;
      margin: 0;
    }
    &--title2{
      position: absolute;
      top: 140px;
      color: rgba(255, 255, 255, 0.169);
      text-shadow: 1px 2px 4px rgba(249, 249, 249, 0.277);
      letter-spacing: -5px;
      padding-left: 95px;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.812);
      font-size: 3.8rem;
      font-weight: 400;
      font-family: 'Akatab', sans-serif;
    }
  }
}







@media (min-width: 500px){
  .home__container{
    overflow: hidden;
  }
  .home__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10.5%;
    top: 32px;
    font-size: 7rem;
  }
  .home__container--title2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 10%;
    top: 125px;
    font-size: 5rem;
    letter-spacing: -9px;
  }
}


@media (min-width: 800px){
  .home__container{
    overflow: hidden;
  }
  .home__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10.5%;
    top: 32px;
    font-size: 9rem;
  }
  .home__container--title2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 13%;
    top: 115px;
    font-size: 7rem;
    letter-spacing: -12px;
  }
}


@media (min-width: 1050px){
  .home__container{
    overflow: hidden;
  }
  .home__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 31.5%;
    top: 32px;
    font-size: 9rem;
  }
  .home__container--title2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 33%;
    top: 120px;
    letter-spacing: -12px;
  }
}


@media (min-width: 1300px){
  .home__container{
    overflow: hidden;
  }
  .home__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 31.5%;
    top: 32px;
    font-size: 10rem;
  }
  .home__container--title2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 34%;
    top: 120px;
    font-size: 8rem;
    letter-spacing: -12px;
  }
}
