.home {
  &__container {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(#545454b5, #000000c1), url(../img/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: 300px 1fr;
    overflow: hidden;

    &--title {
      display: flex;
      padding: 80px 0 0 10px;
      justify-content: left;
      align-items: center;
      text-align: center;
      justify-items: center;
      position: absolute;
      font-size: 5rem;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.05);
      text-shadow: 1px 2px 4px $fColor;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
      overflow: hidden;
      cursor: pointer;
      font-family: 'Akatab', sans-serif;
      margin: 0;
    }
    &--title2{
      display: flex;
      position: absolute;
      top: 90px;
      left: 1%;
      color: rgba(255, 255, 255, 0.169);
      text-shadow: 1px 2px 4px rgba(249, 249, 249, 0.277);
      letter-spacing: -5px;
      padding-left: 95px;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.812);
      font-size: 3.5rem;
      font-weight: 400;
      font-family: 'Akatab', sans-serif;
    }
    &--span{
      display: flex;
      position: absolute;
      left: 18.5%;
      top: 7px;
    }
  }
}







@media (min-width: 500px){
  .home__container{
    overflow: hidden;
  }
  .home__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 4.5%;
    top: 32px;
    font-size: 7rem;
  }
  .home__container--title2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 12%;
    top: 125px;
    font-size: 5rem;
    letter-spacing: -9px;
  }
  .home__container--span{
    display: flex;
    position: absolute;
    left: 12.5%;
    top: 10px;
  }
}


@media (min-width: 800px){
  .home__container{
    overflow: hidden;
  }
  .home__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10.5%;
    top: 32px;
    font-size: 9rem;
  }
  .home__container--title2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 20%;
    top: 115px;
    font-size: 7rem;
    letter-spacing: -12px;
  }
  .home__container--span{
    display: flex;
    position: absolute;
    left: 7.5%;
    top: 13px;
  }
}


@media (min-width: 1050px){
  .home__container{
    overflow: hidden;
  }
  .home__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 17.5%;
    top: 32px;
    font-size: 9rem;
  }
  .home__container--title2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 24%;
    top: 120px;
    letter-spacing: -12px;
    .home__container--span{
      display: flex;
      position: absolute;
      left: 7.4%;
      top: 11px;
    }
  }
}


@media (min-width: 1300px){
  .home__container{
    overflow: hidden;
  }
  .home__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 19.5%;
    top: 32px;
    font-size: 10rem;
  }
  .home__container--title2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 28%;
    top: 120px;
    font-size: 8rem;
    letter-spacing: -12px;
    .home__container--span{
      display: flex;
      position: absolute;
      top: 12px;
      left:5%;
    }
  }
}

@media (min-width: 1400px){
  .home__container{
    overflow: hidden;
  }
  .home__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 23.5%;
    top: 32px;
    font-size: 10rem;
  }
  .home__container--title2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 30%;
    top: 120px;
    font-size: 8rem;
    letter-spacing: -12px;
    .home__container--span{
      display: flex;
      position: absolute;
      top: 12px;
      left:5%;
    }
  }
}

@media (min-width: 1500px){
  .home__container{
    overflow: hidden;
  }
  .home__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 21.5%;
    top: 32px;
    font-size: 10rem;
  }
  .home__container--title2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 28%;
    top: 120px;
    font-size: 8rem;
    letter-spacing: -12px;
    .home__container--span{
      display: flex;
      position: absolute;
      top: 12px;
      left:5%;
    }
  }
}

@media (min-width: 1600px){
  .home__container{
    overflow: hidden;
  }
  .home__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30.5%;
    top: 32px;
    font-size: 10rem;
  }
  .home__container--title2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 35%;
    top: 120px;
    font-size: 8rem;
    letter-spacing: -12px;
    .home__container--span{
      display: flex;
      position: absolute;
      top: 12px;
      left:5%;
    }
  }
}
