.home {
  &__container {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(#545454b5, #000000c1), url(../img/header.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: 300px 1fr;

    &--title {
      display: flex;
      padding: 120px 0 0 10px;
      justify-content: left;
      align-items: center;
      text-align: center;
      justify-items: center;
      font-size: 8rem;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.05);
      text-shadow: 1px 2px 4px $fColor;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
      overflow: hidden;
      cursor: pointer;
      font-family: 'Akatab', sans-serif;
      margin: 0;
    }
    &--title2{
      position: absolute;
      top: 150px;
      color: rgba(255, 255, 255, 0.169);
      text-shadow: 1px 2px 4px rgba(249, 249, 249, 0.277);
      letter-spacing: -8px;
      padding-left: 105px;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.812);
      font-size: 5rem;
      font-weight: 400;
      font-family: 'Akatab', sans-serif;
    }
  }
}




@media (min-width: 1050px){
  .home__container{
    overflow: hidden;
  }
  .home__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 41.5%;
    top: 11px;
    font-size: 10rem;
  }
  .home__container--title2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 43%;
    font-size: 7rem;
  }
}