.job {
  &__container {
    width: 100%;
    height: 80vh;
    background-image: radial-gradient(#545454b5, #000000c1), url(../img/header2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    clip-path: polygon(100% 0, 100% 91%, 30% 100%, 0 93%, 0 0);
    display: grid;
    grid-template-rows: 300px 1fr;
    overflow: hidden;

    &--title {
      display: flex;
      padding: 80px 0 0 10px;
      justify-content: left;
      align-items: center;
      text-align: center;
      justify-items: center;
      position: absolute;
      font-size: 4rem;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.05);
      text-shadow: 1px 2px 4px $fColor;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
      overflow: hidden;
      cursor: pointer;
      font-family: 'Akatab', sans-serif;
      margin: 0;
    }
  }
}





@media (min-width: 500px){
  .job__container{
    overflow: hidden;
  }
  .job__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 4.5%;
    top: 32px;
    font-size: 7rem;
  }
}


@media (min-width: 800px){
  .job__container{
    overflow: hidden;
  }
  .job__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 11.5%;
    top: 32px;
    font-size: 9rem;
  }
}


@media (min-width: 1050px){
  .job__container{
    overflow: hidden;
    clip-path: polygon(100% 0, 100% 78%, 30% 100%, 0 86%, 0 0);
  }
  .job__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 18.5%;
    top: 32px;
    font-size: 10rem;
  }
}


@media (min-width: 1300px){
  .job__container{
    overflow: hidden;
  }
  .job__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 19.5%;
    top: 32px;
    font-size: 10rem;
  }
}

@media (min-width: 1400px){
  .job__container{
    overflow: hidden;
  }
  .job__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 23.5%;
    top: 32px;
    font-size: 10rem;
  }
}

@media (min-width: 1500px){
  .job__container{
    overflow: hidden;
  }
  .job__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 21.5%;
    top: 32px;
    font-size: 10rem;
  }
}

@media (min-width: 1600px){
  .job__container{
    overflow: hidden;
  }
  .job__container--title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30.5%;
    top: 32px;
    font-size: 10rem;
  }
}
