$fColor: rgb(113, 80, 19);
$sColor: rgba(167, 100, 0, 0.831);
$tColor: rgb(82, 82, 82);
$gray: rgb(31, 27, 27);
$white: rgb(255, 255, 255);
$black: rgb(32, 32, 32);
$gradient: radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%);
$aka: 'Akatab', sans-serif;